In [8]:
def final_prices(*prices: int|float|list|tuple, discount=1) -> list:
    return [price - price * discount / 100 for price in prices]

In [10]:
final_prices(100, discount=5)

[95.0]

In [19]:
def final_prices(*prices, discount=1, **kwargs):
    low = kwargs.get('price_low', min(prices))
    high = kwargs.get('prices_high', max(prices))
    return [price - price * discount / 100 for price in prices if low <= price <= high]

In [22]:
print(final_prices(100, 200, 300, 400, discount=5))
print(final_prices(100, 200, 300, 400, discount=5, price_low = 150))

[95.0, 190.0, 285.0, 380.0]
[190.0, 285.0, 380.0]

In [25]:
def only_pos(x):
    return x > 0

result = filter(only_pos, [-1, 2, 3, 4, 10, 0])
print(", ".join(str(x) for x in result))

2, 3, 4, 10

In [28]:
result = filter(str.isalpha, "1ljfso8jfws38j")
print(', '.join(result))

l, j, f, s, o, j, f, w, s, j

In [32]:
def square(x):
    return x ** 2

result = map(square, range(5))
print(", ".join(str(x) for x in result))

0, 1, 4, 9, 16

In [35]:
result = map(str.lower, ['asdf8LJIF', "faasfe;iJIIDjjI"])
print("\n".join(result))

asdf8ljif
faasfe;ijiidjji

In [38]:
numbers = list(map(int, input().split()))
numbers

[2, 3, 4, 5, 6]

In [39]:
result = filter(lambda x: x > 0, [-1,2,3,4,10,5,65])
print(', '.join(str(x) for x in result))

2, 3, 4, 10, 5, 65

In [ ]:
import pandas as pd

mapping = {1: 'Python', 2: 'Spark', 3: 'Pandas', 4: 'Pyspark'}
s = pd.Series([1, 2, 3, 4])
result = s.map(mapping)
print(result)

0     Python
1      Spark
2     Pandas
3    Pyspark
dtype: object

In [42]:
lines = ["abcd", "ab", "abc", "abcdef"]
print(sorted(lines, key=lambda line: len(line)))

['ab', 'abc', 'abcd', 'abcdef']

In [47]:
lines = ["abcd", "ab", "abc", "abcdef", "abcdeh"]
print(min(lines, key=lambda line: len(line)))
print(min(lines, key=lambda line: (-len(line), line)))

ab
abcdef

In [48]:
from functools import reduce

numbers = range(1, 6)
print(reduce(lambda x, y: x + y, numbers))

15

In [57]:
lst = [1, 2, 3, 4, 5]
reduce(lambda x, y: x + y, lst)

15

In [53]:
for x in range(1, 6):
    summa += x
print(summa)

25